**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.vscode
**/.cache
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
**/built
LICENSE
README.md
